<% flash.each do |key, value| %>
<%= content_tag :div, value, class: "flash time-limit flash-#{key}" %>
<% end %>
<script>
$( document ).ready(function() {
  // メッセージを2秒後にフェードアウトする
  $('.time-limit').fadeOut(2000);
});
</script>
<div class="modal-dialog">
  <div class="modal-content">
    <%= form_with(scope: :session, url: sessions_path, remote: true) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.submit "Log in" %>
    <% end %>
  </div>
</div>
