<div class="modal-dialog">
  <div class="modal-content">
    <%= form_with(model:@task, remote: true) do |form| %>
      <% if @task.errors.any? %>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      <% end %>

      <p><%= form.label :content %></p>
      <p><%= form.text_field :content, class:"form" %></p>
      <p><%= form.label :detail %></p>
      <p><%= form.text_area :detail, class:"form" %></p>
      <p class="dropdown_original"><%= form.label :status %><%= form.select :status, Task.statuses.keys %>  <%= form.label :priority %><%= form.select :priority, Task.priorities.keys %></p>
      <p><%= form.label :limit %></p>
      <% if controller.action_name == "edit" || controller.action_name == "update" %>
        <p class="dropdown_original"><%= form.datetime_select :limit, include_blank: true, start_year: Date.today.year, minute_step: 5, selected: @task.limit %></p>
      <% else %>
        <p class="dropdown_original"><%= form.datetime_select :limit, include_blank: true, start_year: Date.today.year, minute_step: 5, selected: Date.today %></p>
      <% end %>
      <p>ラベルを選択</p>
      <% Label.all.each_with_index do |label,i| %>
        <%= form.check_box :label_ids, { multiple:true, checked: select_label(label), disabled: label[:disabled], include_hidden: false, id:"label_check#{i}"}, label[:id] %>
        <label class="label" for="label_check<%= i %>" style="background-color:<%= label.color_before_type_cast %>"><%= label.label_name %></label>
      <% end %>
      <p><%= form.submit class: "btn btn-primary" %></p>
    <% end %>
  </div>
</div>
