<div class="modal-dialog">
  <div class="modal-content">
    <%= form_with(model:@task, remote: true) do |form| %>
      <% if @task.errors.any? %>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      <% end %>

      <p><%= form.label :content %></p>
      <p><%= form.text_field :content, class:"form" %></p>
      <p><%= form.label :detail %></p>
      <p><%= form.text_area :detail, class:"form" %></p>
      <p><%= form.label :limit %></p>
      <p><%= form.datetime_select :limit, include_blank: true, start_year: Date.today.year %></p>
      <% if controller.action_name == "edit" || controller.action_name == "update" %>
        <%= form.submit class: "btn btn-primary" %>
      <% else %>
        <%= form.submit class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
