<div class="modal-dialog">
  <div class="modal-content">
    <%= form_with(model:@task, remote: true) do |form| %>
      <% if @task.errors.any? %>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      <% end %>

      <%= form.label :content %>
      <%= form.text_field :content %>
      <%= form.label :detail %>
      <%= form.text_area :detail %>
      <% if controller.action_name == "edit" || controller.action_name == "update" %>
        <%= form.submit "Complete Edit" %>
      <% else %>
        <%= form.submit "Create New Task" %>
      <% end %>
    <% end %>
  </div>
</div>
