<div class="modal-dialog">
  <div class="modal-content">
    <%= form_with(method: :get, local:true, url:tasks_path) do |form| %>
      <p><%= form.label :content,"内容" %></p>
      <p><%= form.text_field :content %> </p>
      <p class="status_search_form"><%= form.label :status, "ステータス" %><%= form.select :status, Task.statuses.keys, include_blank: true %>  <%= form.label :priority, "優先順位" %><%= form.select :priority, Task.priorities.keys, include_blank: true %></p>
      <%= form.hidden_field :search, value: "true" %>
      <p><%= form.submit "検索", class:"btn btn-primary" %></p>
    <% end %>
  </div>
</div>
