<div class="container">
  <p>ラベルを作成する</p>
  <%= form_with(model:@label, url:admin_labels_path, local:true) do |form| %>
    <p><%= form.label :label_name %><%= form.text_field :label_name %></p>
    <p class="dropdown_original"><%= form.label :color %><%= form.select :color, Label.colors.keys %></p>
    <%= form.submit %>
  <% end %>
</div>
