<div class="container">
    <p><%= @user.name %></p>
    <p><%= @user.email %></p>
    <p><%= @user.password %></p>
    <p>管理者権限: <%= @user.admin %></p>
    <p>このユーザーが作成したタスク</p>
    <table>
      <tr>
        <th>内容</th>
        <th>終了期限</th>
        <th>ステータス</th>
        <th>優先順位</th>
      </tr>
      <% @user.tasks.each do |task| %>
      <tr>
        <td><%= task.content %></td>
        <td><%= task.limit %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
      <% end %>
    </table>
</div>
