<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash time-limit flash-#{key}" %>
    <% end %>
    <script>
      $( document ).ready(function() {
        // メッセージを1.5秒後にフェードアウトする
        $('.time-limit').fadeOut(1500);
      });
    </script>
    <header>
      <h1 class="header_logo d-none d-md-table-cell">TaskManager</h1>
      <ul class="header_nav">
        <li class="nav_new"><%= link_to '+New', new_task_path, remote:true, class:"btn btn-primary" %> </li>
        <div class="right">
          <li class="nav_search"><%= link_to 'Search', search_tasks_path, remote:true, class:"btn btn-primary" %></li>
          <li class="nav_sort dropdown">
            <button class="btn btn-primary dropdown-toggle"
            type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
              Sort
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <%= link_to '作成日時', tasks_path, class:"dropdown-item" %>
              <%= link_to '終了期限', tasks_path(sort: "limit_desc"), class:"dropdown-item sort_limit" %>
              <%= link_to 'ステータス', tasks_path(sort: "status_asc"), class:"dropdown-item sort_status" %>
              <%= link_to '優先順位', tasks_path(sort: "priority_desc"), class:"dropdown-item sort_priority" %>
            </div>
          </li>
        </div>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
