<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="clearfix">
      <h1 id="header_logo">TaskManager</h1>
      <ul class="header_nav">
        <li><%= link_to '+New', new_task_path, remote:true, class:"btn btn-primary" %> </li>
        <li class="sort"><%= link_to 'Sort', new_task_path, remote:true, class:"btn btn-primary" %> </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
